<li class="list-group-item">
  <div class="panel-heading">  
    <%= review.rating %> by <strong><%= review.user_id%></strong>
  </div>
  <div class="panel-body">
    <%= review.description %>
  </div>
</li>